<div id="addDestinationWrapper">
    <h2>Add Destination</h2>

    <div id="guestMessage" style="display:none;">
        <p>Only registered users can add destinations.</p>
    </div>

    <form id="addDestinationForm">
        <label for="destination_name">Destination</label>
        <input type="text" name="destination_name" placeholder="Destination name">

        <label for="destination_country">Country</label>
        <input type="text" name="destination_country" placeholder="Country">

        <label for="destination_desc">Description</label>
        <textarea rows="10" name="destination_desc" placeholder="Description"></textarea>

        <button type="submit">Add Destination</button>
    </form>

    <p id="destinationMessage"></p>
</div>