<h2>Sign Up</h2>

<div id="alreadyLoggedMessage" style="display:none;">
    <p>You are already logged in. Logout before creating another account.</p>
</div>

<form id="signupForm">
    <input name="new_username" placeholder="Username">
    <input name="new_email" placeholder="Email">
    <input name="new_password" type="password" placeholder="Password">
    <input name="new_passwordConfirm" type="password" placeholder="Confirm Password">
    <button type="submit">Sign Up</button>
</form>

<p id="signupMessage"></p>