<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations 3000</title>
    <script type="module" src="/static/events.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <h1>Travel Destinations 3000</h1>

    <ul class="mainMenu">
        <li><a href="/" class="hreflink">Home</a></li>
        <li><a href="/add_destination" class="hreflink">Add destination</a></li>

        <!-- Auth menu items -->
        <li id="authSignUp"><a href="/signup" class="hreflink">Sign Up</a></li>
        <li id="authLogin"><a href="/login" class="hreflink">Login</a></li>

        <li id="authProfile" style="display:none;"><a href="/profile" class="hreflink">Profile</a></li>
        <li id="authLogout" style="display:none;"><a href="#" id="logoutBtn">Logout</a></li>
    </ul>

    <!-- Partials load here -->
    <div id="content">
        
    </div>

    <div class="footer_box">
        <div class="footerLeft">
            <span>Adress</span>
        </div>
        <div class="footerRight">
            Copyright 2026 EK
        </div>
    </div>
    
</body>
</html>